body 
  &:not(.home) 
    #section2
      margin-top: -30px
      padding-top: 150px
      padding-bottom: 90px

#wrapper
  &.grid-container
    &>.grid-x
      position: relative

      &>.cell
        height: 100%

        &>.grid-container
          &:not(footer)

          &>.grid-x
            height: 100%

      &::-webkit-scrollbar
        display: none

.section
  &.hero-image-with-copy,
    padding-left: 0
    padding-right: 0

    @media (max-width: 1920px)
      padding-left: 50px
      padding-right: 50px

.section
  &.gallery-slider,
  &.map-with-content
    padding-left: 0
    padding-right: 0

.section
  &.call-to-action,
    padding-top: 50px
    padding-bottom: 100px

.grid-container
  padding-left: 0
  padding-right: 0

  .copy
    ul 
      li 
        margin-bottom: 30px

  &.full
    .hero
      img 
        width: 100%

        @media (max-width: 1023px)
          margin-bottom: 30px

        @media (max-width: 767px)
          margin-bottom: 30px

        @media (max-width: 640px)
          margin-bottom: 30px

  &.grid-expanded
    max-width: 1920px

    .copy
      &:not(.reversed)
        #copy
          margin-left: 0
          padding-right: 10%

          @media (max-width: 1366px)
            padding-right: 5%
            margin-bottom: 30px

    .hero
      text-align: right
      margin-bottom: -50px

      @media (max-width: 1366px)
        display: flex
        align-items: center

      img 
        width: 100%

.reversed 
  #copy
    max-width: 400px

    @media (max-width: 1366px)
      max-width: 300px

    ul 
      li
        list-style: none
        margin: 0
        margin-bottom: 1em
        padding-left: 0
        position: relative

        &:after
          content: ''
          height: .4em
          width: .4em
          background: #bd9c59
          display: block
          position: absolute
          transform: rotate(45deg)
          top: 9.5px
          left: -1.5em;

