.call-to-action
  padding-top: 50px
  padding-bottom: 100px

  .left
    width: 75%
    display: flex
    align-items: center

    @media (max-width: 1023px)
      width: 100%

    h2 
      font-size: 36px
      line-height: 58px
      margin-bottom: 0

      @media (max-width: 1600px)
        font-size: 36px

      @media (max-width: 1023px)
        margin-bottom: 30px

  .right
    width: 25%
    display: flex
    justify-content: flex-end
    align-items: center

    @media (max-width: 1023px)
      width: 100%
      justify-content: flex-start

    @media (max-width: 767px)
      width: 100%
      justify-content: flex-start

    @media (max-width: 640px)
      width: 100%
      justify-content: flex-start

    h2 
      font-size: 52px
      line-height: 58px
      margin-bottom: 0

#cta 
  a
    width: 100%
    height: 100%
    display: block
    color: #fff
    background-color: #bd9c59
    text-align: center
    font-family: minerva-modern,sans-serif
    font-size: 24px
    line-height: 80px
    outline: 0
    cursor: pointer
    z-index: 9999
    transition: all .25s ease-in-out
    cursor: pointer

    &:focus
      outline: 0
      transition: .2s all ease-in-out

    &:hover 
      background-color: #161b2a
      color:#d1b97b