.heroTab
  display: block
  position: absolute
  right: -45px
  top: 25%
  transform: translateY(-50%) rotate(-90deg)
  width: 120px
  height: 30px
  background-color: #bd9c59
  text-align: center
  font-size: 16px
  font-family: 'benton-sans', sans-serif
  font-style: normal
  color: #fff
  line-height: 30px
  cursor: pointer
  text-transform: none
  z-index: 9999
  transition: .3s all ease-in-out

  &:focus
    outline: 0
    transition: .2s all ease-in-out

  &:hover 
    background-color: #161b2a
    color:#d1b97b